@media (min-width: 1200px) {
	.tile_description p {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.col-1of1 {
		display: block;
		max-width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.col-1of2 {
		width: 40%;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		vertical-align: top;
		padding: 0;
	}

	.col-1of3 {
		width: 33.33333%;
		display: inline-block;
		float: left;
		vertical-align: top;
		padding: 0; 
	}

	.col-2of3 {
		width: 66.66666%;
		display: inline-block;
		float: left;
		vertical-align: top;
		padding: 0; 
	}

	iframe {
		width: 100%;
		min-height: 700px;
	}

	.col-1of4 {
		width: 25%;
		display: inline-block;
		margin: 0;
		padding: 0; 
		float: left;
	}

	.grid:after {
		content: "";
		display: block;
		clear: both;
	}

	*, *:after, *:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}

@media (max-width: 1200px) {
	.container {
		width: 85%;
	}

	.fade_in, .fade_out:hover, .fade_out:focus, .fade_out:active {
	    opacity: 1;
	}

	.section_icons {
		width: 15%;
	}

	.left_arrow, .right_arrow {
		margin: 0;
		max-width: 50px;
	}

	#logo {
		padding-top: 4rem;
	}

	#landing h1 {
		margin-top: 2rem;
		font-size: 6rem;
		line-height: 4rem;
	}

	#landing h4 {
		margin-top: 1rem;
		font-size: 1.75rem;
	}

	#about h2, #work h2, #connect h2 {
		font-size: 2.5rem;
	}

	#about h3 {
		font-size: 1.85rem;
	}

	#about p {
		margin-top: 0.5rem;
		margin-right: 0;
		margin-left: 0;
	}

	.tile_description p {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.project_title h1 {
		font-size: 5rem;
		margin-top: 2rem;
		margin-bottom: 0;
		color: white;
		line-height: 4.5rem;
	}

	.project_description h4, .project_overview h4 {
		font-size: 1rem;
		max-width: 100%;
		margin-top: 1rem;
		margin-bottom: 0;
		margin-right: auto;
		margin-left: auto;
		color: white;
	}

	.project_title p, .project_description p, .project_overview p, .project_overview ul {
		max-width: 100%;
		margin-top: 0.5rem;
		margin-right: auto;
		margin-left: auto;
		color: white;
	}

	.project_title p {
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

	.project_images img{
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}

	.network_icons {
		max-width: 40%;
		margin-top: 2rem;
	}

	.col-1of1 {
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.col-1of3 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.col-2of3 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	.col-1of4 {
		width: 25%;
		display: inline-block;
		margin: 0;
		padding: 0; 
		float: left;
	}
}

@media (max-width: 768px) {
	.container {
		width: 90%;
	}

	.fade_in, .fade_out:hover, .fade_out:focus, .fade_out:active {
	    opacity: 1;
	}

	.section_icons {
		width: 20%;
	}

	.left_arrow, .right_arrow {
		margin: 0;
		max-width: 45px;
	}

	.scrollup {
	    width: 60px;
	    height: 60px;
	    position: fixed;
	    bottom: 40px;
	    right: 0;
	}

	#logo {
		padding-top: 2rem;
	}

	#landing h1 {
		margin-top: 1rem;
		font-size: 4rem;
		line-height: 4rem;
	}

	#landing h4 {
		margin-top: 0;
		font-size: 1.3rem;
	}

	#about {
		min-height: 600px;
	}

	#about h2, #work h2, #connect h2 {
		font-size: 2rem;
	}

	#about h3 {
		font-size: 1.2rem;
	}

	#about p {
		margin-top: 0.5rem;
		margin-right: 0;
		margin-left: 0;
	}

	#work {
		min-height: 1800px;
	}

	.tile_description p {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	.project_title h1 {
		font-size: 3rem;
		margin-top: 2rem;
		margin-bottom: 0;
		color: white;
		line-height: 3rem;
	}

	.project_description h4, .project_overview h4 {
		font-size: 1rem;
		max-width: 100%;
		margin-top: 1rem;
		margin-bottom: 0;
		margin-right: auto;
		margin-left: auto;
		color: white;
	}

	.project_title p, .project_description p, .project_overview p, .project_overview ul {
		max-width: 100%;
		margin-top: 0.5rem;
		margin-right: auto;
		margin-left: auto;
		color: white;
	}

	.project_title p {
		margin-top: 1.5rem;
		line-height: 1.25rem;
	}

	.project_images img{
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}

	.project_overview ul {
		max-width: 85%;
		margin-right: 0;
	}

	.network_icons {
		max-width: 20%;
		margin-top: 2rem;
	}

	.col-1of1 {
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.col-1of3 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.col-2of3 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	.col-1of4 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto; 
	}
}