.col-1of1 {
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
}

.col-1of3 {
	width: 33.33333%;
	display: inline-block;
	float: left;
	vertical-align: top;
	padding: 0; 
}

.col-1of4 {
	width: 25%;
	display: inline-block;
	margin: 0;
	padding: 0; 
	float: left;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 480px) {

	.col-1of1 {
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	#landing h1 {
		font-size: 4rem;
	}

	#landing h4 {
		font-size: 1.8rem;
	}

	#about h2, #work h2, #connect h2 {
		font-size: 1.7rem;
	}

	#about h3 {
		font-size: 1.2rem;
	}

	#about p {
		margin-top: 0.5rem;
	}

	.col-1of3 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	.col-1of4 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto; 
	}
}