html {
	margin: 0;
}

body {
	margin: 0;
	width: 100%;
}

.fade-in {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade-in:hover, .fade-in:focus, .fade-in:active {
    opacity: 1;
}

.fade-out {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade-out:hover, .fade-out:focus, .fade-out:active {
    opacity: 0.5;
}


#landing {
	margin: 0;
	background: url(../img/hk.jpg);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	height: 700px;
}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    max-width: 100px;
}

#landing h1 {
	display: block;
	margin-bottom: 0;
	margin-top: 2rem;
	margin-left: auto;
    margin-right: auto;
    color: white;
	text-align: center;
	line-height: 6rem;
}

#landing h4 {
	display: block;
	margin-top: 0;
	margin-left: auto;
    margin-right: auto;
	font-weight: normal;
	color: white;
	text-align: center;
}

#about {
	margin: 0;
	background-color: #0A1B2A;
	height: 700px;
}

#about img {
	max-width: 80%;
}

#about h3 {
	max-width: 80%;
	margin-bottom: 0;
	margin-left: 2rem;
	color: white;
}

#about p, #about ul li {
	max-width: 80%;
	margin-left: 2rem;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: 2rem;
	color: white;
}

#about ul li {
	max-width: 80%;
	margin-left: 2rem;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	color: white;
}

#about h2, #work h2, #contact h2 {
	margin: 0;
	padding-top: 2rem;
	padding-left: 2rem;
	color: white;
	text-align: left;
}

#work {
	margin: 0;
	background-color: #3B1B2A;
	height: 700px;
}

.project {
	background-color: white;
	margin: 1rem;
}

.project-image {
	width: 100%;
}

#contact {
	margin: 0;
	background-color: #1C1B2A;
	height: 700px;
}

h1 { 
	font-family: 'Titillium Web', sans-serif;
	font-size: 6rem;
}

h2 { 
	font-family: 'Titillium Web', sans-serif;
	font-size: 4rem;
}

h3 { 
	font-family: 'Titillium Web', sans-serif;
	font-size: 2rem;
}

h4 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5rem;
}

p, ul li {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1rem;
}


/*TESTING*/
nav a {
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-weight: normal;
}

nav a, nav a:visited {
	display: inline-block;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

nav a.main-menu {
	background-color: #6E6E6E;
	text-align: center;
}

nav a:hover, nav a:active, nav a:focus {
	background-color: gray;
	color: white;
}